@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>[add views here]</p>
    <a asp-page="/Colin/Main">Colin's Views</a>
</div>