@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This application is currently under development!</p>
    <p>Developed for the Master/Detail Application project in CIT255.</p>
    <p><a href="https://github.com/dunck2020/RazorPages_MasterDetailApp">View Repository</a></p>
</div>