@page
@model RazorPages_MasterDetailApp.Pages.Colin.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "Shared/_coharouLayout";
}
<div class="container">
    <div class="card m-2 border-dark">
        <div class="card-body p-3">
            <div class="card-title">
                <h5 class="card-title">Book Addition</h5>
            </div>
            <div class="card-text">
                Please type in the information for each book detail.
            </div>
            <form method="post" class="mt-3">
                <div asp-validation-summary="ModelOnly" class="text-primary"></div>
                <div class="form-group row p-2">
                    <label asp-for="Book.Title" class="control-label col-2"></label>
                    <input asp-for="Book.Title" class="form-control col-5" />
                    <div class="col-12"><span asp-validation-for="Book.Title" class="text-primary"></span></div>
                </div>
                <div class="form-group row p-2">
                    <label asp-for="Book.Author" class="control-label col-2"></label>
                    <input asp-for="Book.Author" class="form-control col-5" />
                    <div class="col-12"><span asp-validation-for="Book.Author" class="text-primary"></span></div>
                </div>
                <div class="form-group row p-2">
                    <label asp-for="Book.Genres" class="control-label col-2"></label>
                    <input asp-for="Book.Genres" class="form-control col-5" />
                    <div class="col-12"><span asp-validation-for="Book.Genres" class="text-primary"></span></div>
                </div>
                <div class="form-group row p-2">
                    <label asp-for="Book.PageCount" class="control-label col-2"></label>
                    <input asp-for="Book.PageCount" class="form-control col-2" />
                    <div class="col-12"><span asp-validation-for="Book.PageCount" class="text-primary"></span></div>
                </div>
                <div class="form-group row p-2">
                    <label asp-for="Book.PubYear" class="control-label col-2"></label>
                    <input asp-for="Book.PubYear" class="form-control col-2" />
                    <div class="col-12"><span asp-validation-for="Book.PubYear" class="text-primary"></span></div>
                </div>
                <div class="form-group row p-2">
                    <label asp-for="Book.Description" class="control-label col-2"></label>
                    <textarea asp-for="Book.Description" class="form-control col-10" rows="3"></textarea>
                    <div class="col-12"><span asp-validation-for="Book.Description" class="text-primary"></span></div>
                </div>
                <div class="form-group row p-2">
                    <label asp-for="Book.Review" class="control-label col-2"></label>
                    <textarea asp-for="Book.Review" class="form-control col-10" rows="3"></textarea>
                    <div class="col-12"><span asp-validation-for="Book.Review" class="text-primary"></span></div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
