@page
@model RazorPages_MasterDetailApp.Pages.Colin.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "Shared/_coharouLayout";
}
<h1 class="display-4">Disabled until Sprint 3.</h1>
<h1>Delete</h1>
<form method="post">
    <input type="hidden" asp-for="Book.ID" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
</form>
