@page
@model RazorPages_MasterDetailApp.Pages.John.EditModel

@{
    ViewData["Title"] = "Edit";
}
<head>
    <link rel="stylesheet" href="~/css/JohnsCustom.css" type="text/css" />
</head>
<div class="tableContainer">
    <h4>Edit Book Details</h4>
    <hr />
    <div class="row">
        <div class="col-md-10">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Book.ID" />
                <div class="form-group">
                    <label asp-for="Book.Title" class="control-label"></label>
                    <input asp-for="Book.Title" class="form-control" />
                    <span asp-validation-for="Book.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Book.Author" class="control-label"></label>
                    <input asp-for="Book.Author" class="form-control" />
                    <span asp-validation-for="Book.Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Book.Genres" class="control-label"></label>
                    <input asp-for="Book.Genres" class="form-control" />
                    <span asp-validation-for="Book.Genres" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Book.PageCount" class="control-label"></label>
                    <input asp-for="Book.PageCount" class="form-control" />
                    <span asp-validation-for="Book.PageCount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Book.PubYear" class="control-label"></label>
                    <input asp-for="Book.PubYear" class="form-control" />
                    <span asp-validation-for="Book.PubYear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Book.Description" class="control-label"></label>
                    <textarea asp-for="Book.Description" class="form-control" rows="3"></textarea>
                    <div><span asp-validation-for="Book.Description" class="text-danger"></span></div>
                </div>
                <div class="form-group">
                    <label asp-for="Book.Review" class="control-label"></label>
                    <textarea asp-for="Book.Review" class="form-control" rows="3"></textarea>
                    <div><span asp-validation-for="Book.Review" class="text-danger"></span></div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="filterItems"  />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="anchorItems" asp-page="./Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
