@page
@model RazorPages_MasterDetailApp.Pages.John.IndexModel

@{ ViewData["Title"] = "Index"; }

<h1>Books</h1>

    @{foreach (var book in Data.SeedData.Initialize())
        {
        <p>@book.Title</p> 

        }
    }
<p>
    <a asp-page="AddBook">Add Book</a>
</p>
